<ion-header>
  <ion-toolbar
    color="primary"
    style="background-color: var(--ion-color-primary)"
  >
    <ion-title> Dog Breeds </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Dog Breeds</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="./assets/pomchi.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Pomeranian/Chihuahua</ion-card-subtitle>
      <ion-card-title>Pomchi</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      These adorable pups make excellent apartment dogs for active urban
      dwellers, and they also do well in small and single-person households. If
      you’re looking for a small, attention-loving dog with a lot of spunk, then
      the Pomchi may be the right dog for you!
    </ion-card-content>
    <app-themed-browser></app-themed-browser>
  </ion-card>
</ion-content>
